*{
    margin: 0;
}

.main{
    display: flex;
}

a:hover{
    color: #5943d6;
}



.NavLogo{
    width: 20vw;
    height: 100vh;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    width: 20vw;
    height: 85vh;
    background-color: #c3c3c3;
}

.navigation, a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    gap: 20px;
}

.logo{
    width: 20vw;
    height: 15vh;
    padding-left: 25%;
    padding-right: auto;
}

#logo{
    height: 100%;
}


.FeedSbar{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
}

.feed{
    width: 60vw;
    height: 85vh;
    background-color: purple;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 15vh;
    border: solid 1px black;
}



.Friends{
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
    width: 20vw;
    height: 100vh;
    background-color: brown;
}